{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Tooplate">

    <title>FoodManager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tooplate-mini-finance.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
</head>

<body>

</body>

<body>
    <header class="navbar sticky-top flex-md-nowrap">
        <img src="{% static 'images/food.png' %}" class="profile-image img-fluid" alt="">
        <div class="col-md-2 col-lg-2 me-0 px-3 fs-6">
            <a class="navbar-brand" href="index.html">

                <!-- <i class="bi-box"></i>
                Food Manager -->
            </a>
        </div>

        <br>
        <h2> Food Manager</h2>
        <br>


        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <form class="custom-form header-form ms-lg-3 ms-md-3 me-lg-auto me-md-auto order-2 order-lg-0 order-md-0"
            action="#" method="get" role="form">
            <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
        </form> -->

        <div class="navbar-nav me-lg-2">
            <div class="nav-item text-nowrap d-flex align-items-center">
                <div class="dropdown ps-3">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" id="navbarLightDropdownMenuLink">
                        <i class="bi-bell"></i>
                        <!-- NAO ALTERAR O CSS E JS DO NAVBART DROP POIS VAI BUGAR A NOTIFICAÇÃO -->
                        <span
                            class="position-absolute start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">Notificações</span>
                        </span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-lg-end notifications-block-wrap bg-white shadow"
                        aria-labelledby="navbarLightDropdownMenuLink">
                        <small>Notificações</small>

                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex  align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-success">
                                    <i class="notifications-icon bi-check-circle-fill"></i>
                                </div>

                                <div>
                                    <span>Doação expedida</span>
                                    <!-- datatime count ainda nao esta funcionando -->
                                    <p>1h atras</p>
                                </div>
                            </a>
                        </li>

                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-success">
                                    <i class="notifications-icon bi-check-circle-fill"></i>
                                </div>

                                <div>
                                    <span>Doação expedida</span>
                                    <!-- datatime count ainda nao esta funcionando -->
                                    <p>2h atras</p>
                                </div>
                            </a>
                        </li>

                        <li class="notifications-block">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-success">
                                    <i class="notifications-icon bi-check-circle-fill"></i>
                                </div>

                                <div>
                                    <span>Doação expedida</span>
                                    <!-- datatime count ainda nao esta funcionando -->
                                    <p>4h atras</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="{% static 'images/foto.jpg' %}" class="profile-image img-fluid" alt="">
                    </a>
                    <ul class="dropdown-menu bg-white shadow">
                        <li>
                            <div class="dropdown-menu-profile-thumb d-flex">
                                <img src="{% static 'images/foto.jpg' %}" class="profile-image img-fluid me-3" alt="">

                                <div class="d-flex flex-column">
                                    <small>Thiago Barros</small>
                                    <a href="#">thiago@hotmail.com</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="profile.html">
                                <i class="bi-person me-2"></i>
                                Conta
                            </a>
                        </li>
                        <li class="border-top mt-3 pt-2 mx-4">
                            <a class="dropdown-item ms-0 me-0" href="#">
                                <i class="bi-box-arrow-left me-2"></i>
                                Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse  mg-top">
                <div class="position-sticky py-4 px-3 sidebar-sticky">
                    <ul class="nav flex-column h-100">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">
                                <i class="bi-house-fill me-2"></i>
                                Inicio
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="cadastroProduto.html">
                                <i class="bi-wallet me-2"></i>
                                Cadastro de Produtos
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="profile.html">
                                <i class="bi-person me-2"></i>
                                Pagina1
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="setting.html">
                                <i class="bi-gear me-2"></i>
                                Pagina2
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="help-center.html">
                                <i class="bi-question-circle me-2"></i>
                                Pagina3
                            </a>
                        </li>

                        <li class="nav-item border-top mt-auto pt-2">
                            <a class="nav-link" href="#">
                                <i class="bi-box-arrow-left me-2"></i>
                                Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                <div class="title-group mb-3">
                    <h1 class="h2 mb-0">Grupo Alimentos</h1>

                    <small class="text-muted">Bom dia!</small>
                </div>

                <div class="row my-4">
                    <div class="col-lg-7 col-12">
                        <div class="custom-block">
                            <small>Estoque Total de Alimentos</small>

                            <h2 class="mt-2 mb-3">580</h2>

                            <div class="custom-block-numbers d-flex align-items-center">
                                <span>
                                    <small>Ultimo Alimento</small>
                                    <p>Arroz
                                        <small>Não perecivel</small>
                                    </p>
                                    <br>
                                </span>
                                <div class="ms-auto">
                                    <small>Quantidade: </small>
                                    <p>2560</p>
                                </div>

                            </div>

                            <div class="d-flex">
                                <div>
                                    <small>Validade</small>
                                    <p>01/12/2023</p>
                                </div>


                            </div>
                        </div>

                        <div class="custom-block bg-white">
                            <h5 class="mb-4">Historico de estoque de alimentos</h5>

                            <div id="pie-chart"></div>
                        </div>

                        <!-- <div class="custom-block bg-white">
                            <div id="chart"></div>
                        </div> -->

                        <div class="custom-block custom-block-exchange">
                            <h5 class="mb-4">Alimentos doados</h5>

                            <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/doacao.jpg' %}" class="exchange-image img-fluid" alt="">
                                    <div>
                                        <p>Feijão</p>
                                        <h6>Não perecivel</h6>
                                    </div>
                                </div>
                                <div class="ms-auto me-4">
                                    <small>Quantidade</small>
                                    <h6>4</h6>
                                </div>

                                <div>
                                    <small>Validade</small>
                                    <h6>21/01/2024</h6>
                                </div>
                            </div>

                            <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/doacao.jpg' %}" class="exchange-image img-fluid" alt="">
                                    <div>
                                        <p>Arroz</p>
                                        <h6>Não perecivel</h6>
                                    </div>
                                </div>

                                <div class="ms-auto me-4">
                                    <small>Quantidade</small>
                                    <h6>2</h6>
                                </div>

                                <div>
                                    <small>Validade</small>
                                    <h6>31/12/2023</h6>
                                </div>
                            </div>

                            <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/doacao.jpg' %}" class="exchange-image img-fluid" alt="">
                                    <div>
                                        <p>Açucar</p>
                                        <h6>Não perecivel</h6>
                                    </div>
                                </div>

                                <div class="ms-auto me-4">
                                    <small>Quantidade</small>
                                    <h6>6</h6>
                                </div>

                                <div>
                                    <small>Validade</small>
                                    <h6>01/10/2024</h6>
                                </div>
                            </div>

                            <div class="col-lg-12 col-12">
                                <div
                                    class="custom-block custom-block-profile-front custom-block-profile text-center bg-white">
                                    <div class="custom-block-profile-image-wrap mb-4">
                                        <img src="{% static 'images/doador.jpg' %}"
                                            class="custom-block-profile-image img-fluid" alt="">
                                    </div>

                                    <p class="d-flex flex-wrap mb-2">
                                        <strong>Nome do doador:</strong>

                                        <span>ISAAC NEWTON</span>
                                    </p>

                                    <p class="d-flex flex-wrap mb-2">
                                        <strong>Email contato:</strong>

                                        <a href="#">
                                            newton@hotmail.com
                                        </a>
                                    </p>

                                    <p class="d-flex flex-wrap mb-0">
                                        <strong>Telefone de Contato: </strong>

                                        <a href="#">
                                            011 42523698
                                        </a>
                                    </p>
                                </div>

                                <!-- divisao bloco 3 -->

                                <div class="custom-block custom-block-transations">
                                    <h5 class="mb-2">Ultimos pedidos de Alimentos</h5>

                                    <!-- <div class="d-flex flex-wrap align-items-center mb-4">
                                        

                                
                                    </div> -->
                                </div>
                            </div>

                            <div class="d-flex align-items-center border-bottom pb-3 mb-3">

                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/doacao.jpg' %}" class="exchange-image img-fluid" alt="">
                                    <div>
                                        <p>Açucar</p>
                                        <h6>Igreja Bom Jesus</h6>
                                    </div>
                                </div>

                                <div class="ms-auto me-4">
                                    <small>Quantidade</small>
                                    <h6>6</h6>
                                </div>

                                <div>
                                    <small>Telefone</small>
                                    <h6>019 32653214</h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom pb-3 mb-3">

                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/doacao.jpg' %}" class="exchange-image img-fluid" alt="">
                                    <div>
                                        <p>Macarrão</p>
                                        <h6>Casa da Sopa</h6>
                                    </div>
                                </div>

                                <div class="ms-auto me-4">
                                    <small>Quantidade</small>
                                    <h6>30</h6>
                                </div>

                                <div>
                                    <small>Telefone</small>
                                    <h6>019 34658512</h6>
                                </div>
                            </div>
                            <footer class="site-footer">
                                <div class="container">
                                    <div class="row">

                                        <div class="col-lg-12 col-12">
                                            <p class="copyright-text">Fatec 2023
                                        </div>

                                    </div>
                                </div>
                            </footer>
            </main>

        </div>
    </div>

    <!-- JAVASCRIPT FILES -->
    {% load static %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <script type="text/javascript">
        var options = {
            series: [13, 43, 22],
            chart: {
                width: 380,
                type: 'pie',
            },
            labels: ['Balance', 'Expense', 'Credit Loan',],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#pie-chart"), options);
        chart.render();
    </script>

    <script type="text/javascript">
        var options = {
            series: [{
                name: 'Income',
                data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
            }, {
                name: 'Expense',
                data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
            }, {
                name: 'Transfer',
                data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    endingShape: 'rounded'
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
            },
            yaxis: {
                title: {
                    text: '$ (thousands)'
                }
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return "$ " + val + " thousands"
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>

</body>

</html>